<head th:replace="fragments/header :: header" />
<div class="container my-4">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <h1 class="text-center mb-4">Protein Supplements</h1>
    <div class="row">
        <!-- Product 1 -->
        <div class="col-lg-4 col-md-6 mb-4" th:each="item : ${items}">
            <div class="card">
                <img th:src="${item.imgUrl}" th:alt="${item.name}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title" th:text="${item.name}"></h5>
                    <p class="card-text" th:text="${item.description}"></p>
                    <a th:href="@{/protein/buy(id=${item.id})}" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div>