<head th:replace="fragments/header :: header" />
<div class="container my-4">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <h1 class="text-center mb-4">Protein Supplements</h1>
    <div class="row">
        <!-- Product 1 -->
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <img src="https://images.myprotein.com/images/products/myprotein-clear-whey-isolate/12139133-1193839211228619.jpg"
                     alt="Product 1" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Clear Whey Isolate</h5>
                    <p class="card-text">Refreshing and fruity, this clear protein drink is packed with 20g of protein and comes in a range of delicious flavours.</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <img src="https://images.myprotein.com/images/products/myprotein-clear-whey-isolate/12139133-1193839211228619.jpg"
                     alt="Product 1" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Clear Whey Isolate</h5>
                    <p class="card-text">Refreshing and fruity, this clear protein drink is packed with 20g of protein and comes in a range of delicious flavours.</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <img src="https://images.myprotein.com/images/products/myprotein-clear-whey-isolate/12139133-1193839211228619.jpg"
                     alt="Product 1" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Clear Whey Isolate</h5>
                    <p class="card-text">Refreshing and fruity, this clear protein drink is packed with 20g of protein and comes in a range of delicious flavours.</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div>