<div class="footer" th:fragment="footer">
    <footer class="bg-light py-3">
        <div class="container">
          <span class="text-muted">Copyright © JoyProtein 2023
        </div>
      </footer>
    
      <!-- Bootstrap JavaScript -->
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</div>